<h3>user login partial page</h3>
Don't have an account? <a href="#user-create">create one now</a>
<br>
<br>
<form name="userLoginForm" ng-controller="userLoginController as loginCtrl" ng-submit="userLoginForm.$valid && loginCtrl.login(user)" novalidate>
  <label>username</label><input type="text" ng-model="loginCtrl.user.username" required>
    <br>
  <label>password</label><input type="password" ng-model="loginCtrl.user.password" required>
    <br>
  <button type="submit" value="Submit">login</button>
  <blockquote>
    username: {{loginCtrl.user.username}}<br>
    password: {{loginCtrl.user.password}}<br>
  </blockquote>
</form>
