body {
  background-color: lightgray;
  margin: 5%;
  a {
    text-decoration: none;
    color: blue;
    &:hover {
      color: darkgray;
    }
  }

}

main.container {
  width: 100%;
}

header {
  text-align: center;
  // background-color: lightgray;
  padding-bottom: 5%;
  img {
    width: 2em;
    display: inline;
  }
  h2 {
    display: inline;
  }
}
